<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/bootstrap.min (1).css">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-dark navbar-expand-lg bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand">Pet Log</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a href="#" class="nav-link">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">New Event</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Logout</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-sm-2" type="search" placeholder="Search">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>

    <div class="container">
        <br>
        <h1>Welcome, {{session['first_name']}}.</h1>
        <br>
        <h3>Who would you like to keep track of today?</h3>
        {% if pets[0] is defined %}
            {% for pet in pets %}
            <div class="card border-primary mb-3" style="max-width: 20rem;">
                <div class="card-header">{{pet.type}}</div>
                <div class="card-body">
                    <h4 class="card-title">{{pet.name}}</h4>
                    {% if pet.type is Dog or pet.type is Cat%}
                    <p class="card-text">See everything related to your fuzzy friend here!</p>
                    {% elif pet.type is Reptile %}
                    <p class="card-text">See everything related to your scaly friend here!</p>
                    {% elif pet.type is Bird %}
                    <p class="card-text">See everything related to your feathery friend here!</p>
                    {% elif pet.type is Amphibian %} 
                    <p class="card-text">See everything related to your slimy friend here!</p>
                    {% endif %}
                    <form action="/viewpet/{{pet.id}}" method="get">Go to {{pet.name}}'s page!</form>
                </div>
            </div>
            {% endfor %}
        {% else %}
        <br>
        <h3>You haven't told us about any of your friends yet!</h3>
        <h5><a href="/newpet">Keep track of a new pet!</a></h5>
        {% endif %}
    </div>
</body>
</html>